<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fight_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,710}</string>
                <key>spriteSourceSize</key>
                <string>{456,710}</string>
                <key>textureRect</key>
                <string>{{0,0},{456,710}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fight_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,710}</string>
                <key>spriteSourceSize</key>
                <string>{430,710}</string>
                <key>textureRect</key>
                <string>{{456,0},{430,710}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fight_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{586,710}</string>
                <key>spriteSourceSize</key>
                <string>{586,710}</string>
                <key>textureRect</key>
                <string>{{886,0},{586,710}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fight.png</string>
            <key>size</key>
            <string>{1472,710}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5b3d461ea288f4d01df55d695b94cdc:11b6d0ec9f10566accd85b396334c651:61dd7437dcad0349b25f7fe12580d28d$</string>
            <key>textureFileName</key>
            <string>fight.png</string>
        </dict>
    </dict>
</plist>
